@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
	font-family: 'Nanum Gothic', Tahoma, Sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

hr {
	margin: 40px 0;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

body {
	padding: 0;
	margin: 0 auto;
	background-color: #fff;
	height: 100%;
}

div {
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
}

textarea {
	overflow: auto;
}

iframe {
	display: block;
}

.icon>img {
	vertical-align: middle;
}

.input-disabled {
	border: 0 !important;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.hide {
	display: none;
}

.clear {
	clear: both;
}

.translate220 {
	-webkit-transform: translate(-220px, 0);
	-moz-transform: translate(-220px, 0);
	transform: translate(-220px, 0);
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-duration: .2s;
}

/******* 공통 레이아웃 *********/
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

a:-webkit-any-link {
	text-decoration: none;
}

a img {
	border: 0;
	vertical-align: top;
}

ol, ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

/****** Header ******/
#header {
	position: relative;
}

.top-content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 900;
	padding: 25px;
	background: #fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.top-content .section-logo {
	float: left;
}

.top-content #logo-image {
	width: 112px;
	height: 30px;
}

.top-content .section-login {
	position: absolute;
	right: 15px;
	top: 12px;
	color: #999;
	display: none;
}

.top-content .section-login .session-info{
	color: #999;
}

.top-content .section-login .session-info a{
	margin-left: 10px;
	color: #999;
}

.top-content .section-login .session-info a:hover{
	color: #c0a179;
}

.top-content .section-login .session-info .login-session span,
.top-content .section-login .login-button span,
.top-content .section-login .login-button a {
	margin-left: 5px;
	color: #999;
}

.top-content .section-login .login-button a:hover {
	color: #c0a179;
}

.top-content .section-gnb {
	position: absolute;
	right: 60px;
	top: 45px;
	display: none;
}

.top-content .section-gnb li {
	float: left;
	margin-right: 30px;
}

.top-content .section-gnb li a:hover {
	color: #c0a179;
}

.top-content .section-gnb li a {
	font-size: 18px;
}

.top-content .section-menu {
	position: fixed;
	top: 25px;
	right: 10px;
	width: 50px;
	font-size: 35px;
	height: 40px;
	cursor: pointer;
	z-index: 1100;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
	-moz-transition-property: -moz-transform;
	-moz-transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
	-ms-transition-property: -ms-transform;
	-ms-transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
}

.top-content .section-menu .menu-close-icon {
	color: #fff;
}

.top-content .section-mobile-gnb {
	position: fixed;
	top: 0;
	right: -220px;
	min-width: 220px;
	background-color: #c0a179;
	bottom: 0;
	color: #fff;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-duration: .2s;
}

.top-content .section-mobile-gnb .mobile-gnb-list {
	position: absolute;
	top: 80px;
	right: 0;
	min-width: 220px;
}

.top-content .section-mobile-gnb .mobile-gnb-list li {
	display: block;
	padding: 20px;
	font-size: 16px;
	border-bottom: 1px solid #eaeaea;
	cursor: pointer;
}

.top-content .section-mobile-gnb .mobile-gnb-list li a{
	color: #fff;
}

.top-content .section-mobile-gnb .mobile-gnb-list .session-info{
	font-size: 18px;
	font-weight: 600;
}


/****** Container ******/

/*main*/
#container {
	min-height: 320px;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-duration: .2s;
}

.container-content {
	position: relative;
}

.container-content .section-video-banner {
	position: inherit;
	overflow: hidden;
	max-width: 100%;
	z-index: 100;
}

.section-video-banner .video-banner-content {
	position: absolute;
	top: 50%;
	bottom: auto;
	color: #444;
	width: 100%;
	text-align: center;
}

.section-video-banner video {
	display: none;
}

.section-video-banner .video-banner-alternative {
	background: url(../img/main/main_banner.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.section-video-banner .video-banner-content h2 {
	font-size: 40px;
}

/*login*/
.container-content .section-login {
	margin: 0 auto;
	padding: 30px;
	background: #fff;
	border-radius: 14px;
}

.container-content .section-login .login-content .login-form .form-password,
	.container-content .section-login .login-content .login-form .form-email
	{
	display: flex;
	border: 1px solid #c8c8c8;
	margin-bottom: 14px;
}

.container-content .section-login .login-content .login-form .form-password .password-left,
	.container-content .section-login .login-content .login-form .form-email .email-left
	{
	float: left;
	width: 14px;
	font-size: 14px;
	margin: 10px;
}

.container-content .section-login .login-content .login-form .form-password .password-right,
	.container-content .section-login .login-content .login-form .form-email .email-right
	{
	width: 100%;
	padding-right: 14px;
}

.container-content .section-login .login-content .login-form .form-password .password-right .text-password,
	.container-content .section-login .login-content .login-form .form-email .email-right .text-email
	{
	border: none;
	outline: none;
	height: 36px;
	width: 100%;
}

.container-content .section-login .login-content .login-form .form-button
	{
	width: 100%;
	height: 38px;
	background-color: #c8c8c8;
	border: none;
	color: white;
}

.container-content .section-login .login-header {
	display: flex;
	margin-bottom: 20px;
}

.container-content .section-login .login-header a {
	margin: 0 auto;
}

.container-content .section-login .login-header img {
	height: 30px;
	width: 136px;
}

.container-content .section-login .login-bottom .bottom-content {
	float: right;
	font-size: 14px;
}

.container-content .section-login .login-bottom .login-message{
    font-size: 16px;
    padding: 10px;
    font-weight: 700;
    color: #c0a179;
}

.container-content .section-login .login-bottom .bottom-content span {
	color: #444;
}

/****** Footer ******/
#footer {
	position: relative;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-duration: .2s;
}

.footer-content {
	padding: 60px 10%;
	color: #fff;
	line-height: 25px;
	background: #c0a179;
	text-align: center;
}

.footer-content p {
	font-size: 16px;
}

/***** Media Query *****/
@media screen and (min-width:768px) {
}

@media screen and (min-width:1024px) {
	/*main*/
	.section-video-banner .video-banner-content h2 {
		font-size: 65px;
	}
}

@media screen and (min-width:1200px) {
	/****** Header ******/
	/*main*/
	.top-content .section-logo {
		margin: 0 0 0 30px;
		float: left;
	}
	#header .section-menu {
		display: none
	}
	#header .section-gnb {
		display: block
	}
	#header .section-login {
		display: block
	}
	#header .section-mobile-gnb {
		display: none
	}
	.top-content #logo-image {
		width: 135px;
		height: 40px;
	}
	#container {
		transform: translate(0, 0) !important
	}
	.section-video-banner video {
		display: block
	}
	.section-video-banner .video-banner-alternative {
		display: none;
	}
	.section-video-banner .video-banner-content h2 {
		font-size: 75px;
	}

	/*login*/
	.container-content .section-login {
		width: 370px;
	}
}